.clBkbT input:not([type='checkbox']):not([type='radio']),
.clBkbT textarea {
    border-radius: 4px;
    border: 1px solid #dadce0;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: none;
    padding: 4px 10px;
    min-height: 30px !important;
    width: 100%;
    -webkit-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    font-size: 14px;
}


select.custom-select.custom-select-sm.form-control.form-control-sm {
    padding-right: 18px !important;
}

button#test-table-xls-button {
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: #5ab4e6;
}

.bbpogt {
    padding: 50px 0 6px 0 !important;
    border: 0.75px solid transparent !important;
    border-radius: 0;
}

.ghbfcK {
    padding: 50px 0 5px 0 !important;
    /* border: 0.75px solid rgb(204, 204, 204); */
    border: none !important;
    /* border-radius: 0px;*/
}


.tongtien {
    margin-bottom: 5px;
    font-weight: bold;
    position: absolute;
    bottom: 66px;
    padding: 8px 0;
    right: 110px;
    z-index: 1;
}