.kichthuoc {
    width: 500px;
    text-align: center;
    margin: 20px auto;
    height: 360px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid;
}

p,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 5px 0;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.d-flex {
    justify-content: flex-start;
    text-align: left;
}

p.nl {
    margin-right: 20px;
    color: #d36719;
}